tensorflow-cpu==2.16.1
matplotlib==3.8.4
scikit-learn==1.4.2
pinecone-client==3.2.2
dill==0.3.5.1
from-root==1.0.2
fastapi
uvicorn
dvc
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
bcrypt
cryptography
httptools
passlib
psycopg2-binary
pyasn1
pydantic
pycparser
python-jose
python-multipart
sqlalchemy
starlette
typing_extensions
watchfiles
alembic
-e .